<div class="container pt-1">
  <div class="mt-4 p-2 bg-black text-white rounded text-center">
    <h1>Hafsa's Todo List</h1>
    <p>Productivity App</p>
  </div>

  <!--form starts-->
  <!--Task Name-->
  <div class="row">
    <div class="col-3 pt-2">
      <h5>Enter Task Name</h5>
      <input type="text" class="form-control" [(ngModel)]="taskObj.taskName" placeholder="Task Name" />
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-12 pt-2">
      <textarea class="form-control" [(ngModel)]="taskObj.taskDescription" rows="3" placeholder="Add a new task"></textarea>
    </div>
  </div> -->

  <!--Date Tags Button-->
  <!-- <div class="row pt-2"> -->
    <div class="col-3 pt-2">
      <h5>Due Date</h5>
      <input type="date" id="textDate" class="form-control" [(ngModel)]="taskObj.dueDate" placeholder="Due Date" />
    </div>
    <div class="col-3 pt-2">
      <h5>Tags </h5>
      <input type="text" [(ngModel)]="taskObj.tags" placeholder="Enter Comma to Seperate tags" class="form-control" />
    </div>
    <div class="col-1 pt-2">
      @if(taskObj.itemId == 0){

        <button class="btn btn-secondary" (click)="addTask()">Add Task</button>
      }
      @else {

        <button class="btn" style="background-color: #484848; color: white;" (click)="updateTask()">Update Task</button>
      }
    </div>
  <!-- </div> -->

  <!-- <div class="row pt-4">
    <div class="col">
      <button class="btn btn-secondary btn-sm">Tags Group</button>
      <button class="btn btn-secondary btn-sm">default</button>
      <button class="btn btn-secondary btn-sm">Hobby</button>
      <button class="btn btn-success btn-sm">Holiday</button>
      <button class="btn btn-success text-light btn-sm">Financial</button>
      <button class="btn btn-secondary btn-sm">Fun</button>
      <button class="btn btn-success btn-sm">Emergency</button>
      <button class="btn btn-secondary btn-sm text-light">Health</button>
      <button class="btn btn-secondary btn-sm">Work</button>
      <button class="btn btn-secondary btn-sm">Education</button>
      <button class="btn btn-secondary btn-sm">Social</button>
      <button class="btn btn-secondary btn-sm">Travel</button>
    </div>
  </div> -->
  <div class="row pt-3">
    <div class="col-12">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th>Index</th>
            <th>Task Name</th>
            <th>Due Date</th>
            <th class="text-center">Options</th>
          </tr>
        </thead>
        <tbody>
          @for (item of taskList; track 'itemId') {
          <tr>
            <td style="text-align: center">{{ $index + 1 }}</td>
            <td>
              <div class="row">
                <!--check boxes-->

                <!-- <div class="col-1">
                  <input type="checkbox" />
                </div> -->
                <div class="col-6">
                  {{ item.taskName }}
                </div>
                <div class="col-4 text-end">
                  <i class="fa fa-close text-secondary px-3 text-danger"></i>
                </div>
              </div>
            </td>
            <td>{{ item.dueDate | date : "dd-MMM-yyyy" }}</td>
            <td class="text-center">
             <button class="btn btn-sm rounded-btn" style="background-color:#ffff4d;" (click)="onEdit(item)">Edit</button>
             <button class="btn btn-sm rounded-btn" style="background-color: #ffcccc;" (click)="onDelete(item.itemId)">Delete</button>
            </td>
          </tr>

          }
        </tbody>
      </table>
    </div>
  </div>
</div>
